beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
decorator==4.4.1
entrypoints==0.3
Flask==1.1.1
Flask-Cors==3.0.8
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
message-filters==1.14.3
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
notebook==6.0.3
numpy==1.18.1
olefile==0.46
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.7.1
python-dateutil==2.8.1
python-qt-binding==0.3.6
pytz==2019.3
pyzmq==18.1.1
qt-dotgraph==0.3.16
qt-gui==0.3.16
qt-gui-cpp==0.3.16
qt-gui-py-common==0.3.16
qtconsole==4.6.0
requests==2.22.0
resource-retriever==1.12.5
selenium==3.141.0
sip==4.19.13
six==1.14.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
soupsieve==1.9.5
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wordcloud==1.6.0
wrapt==1.11.2
zipp==2.2.0
